<h1>Lista de Necesidades</h1>

<%= link_to "Crear Nueva Necesidad", new_need_path %>

<ul>
  <% @needs.each do |need| %>
    <li>
      <%= link_to need.description, need_path(need) %>
      - <%= need.location %>
    </li>
  <% end %>
</ul>
