<h1>Lista de Ayudas</h1>

<%= link_to "Ofrecer Ayuda", new_help_path %>

<ul>
  <% @helps.each do |help| %>
    <li>
      <%= link_to "Ver Detalle", help_path(help) %> - Estado: <%= help.status %>
    </li>
  <% end %>
</ul>
